html,
body {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Open sans", system-ui;
}

.layout {
  display: grid;
  grid-template-rows: 3fr 5fr 3fr;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

header {
  position: relative;
  overflow: hidden;
}

footer {
  background: #f0f0f0;
}

.diagonal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(7, 121, 150);
  transform: skewY(-10deg);
  transform-origin: left top;
}

.header-content {
  height: 60vh;
  display: flex;
  max-width: 1200px;
  z-index: 1;
  padding: 20px;
}

h2 {
  font-size: 3rem;
}

p {
  font-size: 1.8rem;
}
.profile {
  position: relative;
  min-width: 40%;
}
.profile-pic {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.profile .name {
  font-family: Impact;
  position: absolute;
  left: 50%;
  bottom: 8px;
  width: 90%;
  transform: translateX(-50%);
  color: rgb(228, 220, 220);
  padding: 0.25rem 0.5rem;
  text-align: center;
  font-size: 3.5rem;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
  letter-spacing: 2px;
  font-weight: bold;
}
.profile-description {
  background-color: white;
  margin: auto;
  min-width: 60%;
  padding: 20px;
  box-shadow: 4px 4px 6px rgb(128, 128, 128, 50%);
}

.profile-icons {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  font-size: 40px;
}

a {
  text-decoration: none;
  color: black;
}

main {
  height: 80vh;
  margin: 0 4rem;
  padding: 4rem;
}
.projects {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  grid-auto-rows: auto;
  justify-content: center;
  padding: 1rem;
  gap: 3rem;
}

.box {
  background: #fff;
  min-height: 120px;
  box-shadow: 4px 6px 6px rgb(128, 128, 128, 50%);

  /* overflow: auto; */
}
.project-image {
  height: 60%;
  width: 100%;
  background-color: red;
}

.box p {
  font-size: 1rem;
}

main h2 {
  display: flex;
  font-size: 2rem;
  margin: 0 15px;
}

.project-description {
  padding: 14px;
}
.project-description a {
  display: flex;
  font-size: 30px;
  margin-left: auto;
  align-self: center;
}

.proj-image {
  height: 100%;
  width: 100%;
}

@media (max-width: 1000px) {
  .projects {
    grid-template-columns: repeat(2, minmax(150px, 1fr));
  }
}

footer {
  background-color: #0891b2;
  color: white;
  font-family: "Open sans";
  height: 60vh;
  display: flex;
  padding: 20px;
}

.contact {
  height: 100%;
  width: 100%;
  display: flex;
}
.otherme {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.other-me {
  height: 85%;
  width: 80%;
  object-fit: cover;
}

.phone,
.email {
  display: flex;
  align-items: center;
}
svg {
  height: 2.5rem;
  width: 2.5rem;
  fill: white;
  margin-right: 1rem;
}

div > span {
  font-size: 2rem;
}
